# Local .terraform directories
.terraform/

# .tfstate files (sensitive data)
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform.tfstate.lock.info

# Variables and secrets
*.tfvars
*.tfvars.json

# Binary plan files
tfplan
*.tfplan

# Logs and CLI configuration
crash.log
crash.*.log
.terraformrc
terraform.rc

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
